.row-centered {
	text-align: center;
}

.col-centered {
	display:inline-block;
	float: none;
	text-align: left;
	margin-right: -4px;
}

#mainImage {
	width: 500px;

}

#name {
	font-family: serif;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline;
	padding: 15px;
}

a {
	font-family: serif;
}
