.row-centered {
	text-align: center;
}

.col-centered {
	display:inline-block;
	float: none;
	text-align: center !important;
	margin-right: -4px;
}

#mainImage {
	width: 500px;

}

#name {
	font-family: serif;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline;
	padding: 15px;
}

h1 h2 h3 h4 h5 h6 a p {
	font-family: serif;
}

.projectCard {
	border: 1px solid grey;
	height: 250px;
}

footer {
	font-color: grey;
}

footer>p {
	text-align: center;
}
