---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('May 31 2024')}
	heroImage="/vannucci.github.io/marek-piwnicki-fgZO-k47XTQ-unsplash.jpg"
>
	<p>
		Hi, I'm Mike Vannucci, I've been a fullstack developer now for about six years, 
		I live on the Jersey Shore with my family.
	</p>
</Layout>
