---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

let yearStarted = new Date('01-05-2018').getFullYear()
let thisYear = new Date().getFullYear()
let yearCount = thisYear - yearStarted

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hello, Nerds!</h1>
			<p>
				Hi I'm Mike. A little about me, I'm a fullstack (mostly frontend) developer of {yearCount} years. In my spare time I chase around a 2 year old full of life and energy and sometimes I sleep. Professionally I'm interested in how systems get designed and implemented, as well as how we as developers communicate with each other as well as with our customers and target audience. In a previous life I was a physics teacher.
			</p>
		</main>
		<Footer />
	</body>
</html>
